
<form action="/posts" method="GET" class="px-3" id="filterList">    
    <fieldset>
        <legend class="text-danger">Wine Type</legend>
        <div>
            <input type="radio" name="type" id="red" value="red" <%= query.type === 'red' ? 'checked' : '' %>>
            <label for="red">Red</label>
        </div>
        <div>
            <input type="radio" name="type" id="white" value="white" <%= query.type === 'white' ? 'checked' : '' %>>
            <label for="white">White</label>
        </div>
        <div>
            <input type="radio" name="type" id="sparkling" value="sparkling" <%= query.type === 'sparkling' ? 'checked' : '' %>>
            <label for="sparkling">Sparkling</label>
        </div> 
        <div>
            <input type="radio" name="type" id="rose" value="rose" <%= query.type === 'rose' ? 'checked' : '' %>>
            <label for="rose">Rose</label>
        </div>   
        <div>
            <input type="radio" name="type" id="fortified" value="fortified" <%= query.type === 'fortified' ? 'checked' : '' %>>
            <label for="fortified">Fortified</label>
        </div>  
        <div>
            <button href="#" id="clear-type" class="text-dark btn-sm btn-info shadow">Clear</button>
        </div>   
    </fieldset><br />
    <fieldset>
        <div>
            <input type="text" class="b-0" name="location" id="location" placeholder="Address/Location" value="<%= query.location %>"><br />
            <button href="#" id="find-me" class="text-light btn-sm btn-dark shadow">use my location</button><br/>    
            <p id="status"></p>
        </div>
        <legend class="text-danger">Location</legend>
        <div>
            <input type="radio" name="distance" id="distance25" value="25" <%= query.distance === '25' ? 'checked' : '' %>>
            <label for="distance25">25 mile radius</label>
        </div>
        <div>
            <input type="radio" name="distance" id="distance50" value="50" <%= query.distance === '50' ? 'checked' : '' %>>
            <label for="distance50">50 mile radius</label>
        </div>
        <div>
            <input type="radio" name="distance" id="distance100" value="100" <%= query.distance === '100' ? 'checked' : '' %>>
            <label for="distance100">100 mile radius</label>
        </div>     
        <div>
            <button href="#" id="clear-distance" class="text-dark btn-sm btn-info shadow">Clear</button>
        </div>   
    </fieldset><br />
    <fieldset>
		<legend class="text-danger">Price</legend>
		<label for="min">Min</label>
        <input type="number" id="min" class="b-0" name="price[min]" min="0" max="10000" step="1" placeholder="Min" value="<%= query.price ? query.price.min : '' %>"><br>
		<label for="max">Max</label>
		<input type="number" id="max" class="b-0" name="price[max]" min="0" max="10000" step="1" placeholder="Max" value="<%= query.price ? query.price.max : '' %>">
	</fieldset><br />
    <fieldset class="starability-basic">
        <legend class="text-danger">Rating</legend>
        <input type="radio" id="zero-stars" class="input-no-rate" name="avgRating[]" value="0" checked aria-label="No rating." <%= query.avgRating && query.avgRating.includes('0') ? 'checked' : '' %> />
		<input type="radio" id="one-star" name="avgRating[]" value="1" <%= query.avgRating && query.avgRating.includes('1') ? 'checked' : '' %> />
		<label for="one-star">1 star</label>
		<input type="radio" id="two-stars" name="avgRating[]" value="2" <%= query.avgRating && query.avgRating.includes('2') ? 'checked' : '' %> />
		<label for="two-stars">2 stars</label>
		<input type="radio" id="three-stars" name="avgRating[]" value="3" <%= query.avgRating && query.avgRating.includes('3') ? 'checked' : '' %> />
		<label for="three-stars">3 stars</label>
		<input type="radio" id="four-stars" name="avgRating[]" value="4" <%= query.avgRating && query.avgRating.includes('4') ? 'checked' : '' %> />
		<label for="four-stars">4 stars</label>
		<input type="radio" id="five-stars" name="avgRating[]" value="5" <%= query.avgRating && query.avgRating.includes('5') ? 'checked' : '' %> />
        <label for="five-stars">5 stars</label>
        <button href="#" class="clear-rating text-dark btn-sm btn-info shadow" type="button">Clear</button>
    </fieldset><br />
    <div class="mt-4">
        <button href="/posts" class="btn-sm btn-warning shadow">Reset</button>
        <input type="submit" class="btn-sm btn-success shadow">    
    </div>
</form>

<script src="/javascripts/use-my-location.js"></script>