<% layout('layouts/postsIndex') -%>


<div class="container-fluid" style="padding: 6%;">
    <div class="row">
        <div class="col-md-12">
            <h1>Find a Wine</h1>
        </div>
        <div class="col-4 border-danger" style=" border-style: solid; border-width: 4px; border-radius: 2%; padding: 4%; background-color: whitesmoke;" >        
            <% include ../partials/searchFilter %>
        </div>
        <div class="col-8">
            <div id="map"></div>
        </div>
    </div>

    <% include ../partials/paginatePosts %>

    <% posts.docs.forEach((post) => { %>
        <div class="card">  
            <div class="card-header border-danger text-danger"><%= post.type %></div>
            <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text">Price: <%= post.price %></p>
                <p class="card-text"><%= post.description %></p>
                <p class="card-text"><%= post.location %></p>
                <a href="/posts/<%= post.id %>">View more</a>
            </div> 
        </div>
    <% }) %>

    <% include ../partials/paginatePosts %>

</div>

<script>
    mapboxgl.accessToken = "<%= mapBoxToken %>";
    var posts = { features: <%- JSON.stringify(posts.docs) %> };
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>