<% layout('layouts/postsIndex') -%>

<div id="mySidebar" class="sidebar text-dark">
  <button class="closebtn text-dark">×</button>
    <% include ../partials/filter %>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-5">
          <div class="row">
            <div class="col-lg-10 col-md-8 col-sm-8 left-padding12">
              <form class="Flatsearch" action="/posts" method="GET">    
                <input type="text" name="search" id="search" placeholder="Search here..." value="<%= query.search %>" />
                <button type="submit"><i class="fas fa-search text-danger"></i></button>
              </form>
            </div> 
            <div>
              <button class="Flatsearch filter left-margin15" id="filter"><i class="fas fa-filter filter"></i>Filter</button> 
            </div>
     
          </div>
          <br><br>
          <div class="shadow placement1" id="map"></div>
        </div>
    </div>
</div>

<div class="container-fluid post-padding">
    <% include ../partials/paginatePosts %>

    <% if(error) { %>
      <div class="mt-4">
        <h2 class="text-center">
          Click <a href="/posts" class="text-danger mx-1" id="reset"> here </a> to reset search. 
        </h2>
      </div>
    <% } else { %>

    <% } %>
     <div class="blog-home2 row m-t-40">
    <% posts.docs.forEach((post) => { %>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card shadow img-fluid" data-aos="flip-left" data-aos-duration="1200">
                <a href="/posts/<%= post.id %>"><img src="<%= post.images[0].url %>" alt="wrappixel kit" class="card-img-top"></a>
                <div class="date-pos bg-danger-gradiant">
                    <%= post.price %>€
                </div>
                <h5 class="font-medium my-3 px-3">
                    <a href="/posts/<%= post.id %>" class="link text-capitalize"><%= post.title %></a>
                </h5>
                <p class="my-1 px-3"><%= post.location %></p>
            </div>
        </div>
    <% }) %>
     </div>

     <% include ../partials/paginatePosts %>
</div>


<script>
  mapboxgl.accessToken = "<%= mapBoxToken %>";
  var posts = { features: <%- JSON.stringify(posts.docs) %> }
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>