<% layout('layouts/postsIndex') -%>

<div id="mySidebar" class="sidebar text-dark">
  <button class="closebtn text-dark">×</button>
    <% include ../partials/filter %>
</div>

<div class="container-fluid" style="padding-left: 15%;">
    <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="col-10" style="padding-left: 10%;">
              <form class="Flatsearch" action="/posts" method="GET">    
              <input type="text" name="search" id="search" placeholder="Search here..." value="<%= query.search %>" />
              <button type="submit"><i class="fas fa-search text-danger"></i></button>
          </form>
            </div> 
            
          <button class="Flatsearch filter" id="filter"><i class="fas fa-filter filter"></i>Filter</button> 
          </div>
          
          <br>
          <br>
          <div class="shadow" id="map" style="z-index: 1;"></div>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-left: 17%; padding-right: 17%; padding-bottom: 110px;">
    <% include ../partials/paginatePosts %>

     <div class="blog-home2 row m-t-40">
    <% posts.docs.forEach((post) => { %>
        <div class="col-lg-3 col-sm-4">
            <div class="card shadow" data-aos="flip-left" data-aos-duration="1200">
                <a href="/posts/<%= post.id %>"><img src="<%= post.images[0].url %>" alt="wrappixel kit" class="card-img-top"></a>
                <div class="date-pos bg-danger-gradiant">
                    <%= post.price %>€
                </div>
                <h5 class="font-medium my-3 px-3">
                    <a href="/posts/<%= post.id %>" class="link text-capitalize"><%= post.title %></a>
                </h5>
                <p class="my-1 px-3"><%= post.location %></p>
            </div>
        </div>
    <% }) %>
     </div>

     <% include ../partials/paginatePosts %>
</div>


<script>
  mapboxgl.accessToken = "<%= mapBoxToken %>";
  var posts = { features: <%- JSON.stringify(posts.docs) %> }
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>